
<div class="navigation-wrapper mt-3">
  <div [@defaultRevealAnimation]="'revealed'" class="default-animation-reveal">
    <app-navigation></app-navigation>
  </div>
</div>
<div [@defaultRevealAnimation]="'revealed'" class="full-screen d-flex align-items-center justify-content-center w-100 default-animation-reveal">
  <router-outlet></router-outlet>
</div>
<div class="trivia-container"  >
  <div class="mx-3" [@defaultRevealAnimation]="'revealed'" >
    <p class="default-animation-reveal">{{fact}}</p>
  </div>
</div>


