
@import "../../../variable";

.navigation-container{
    font-family: $sFont;
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            transition: transform 0.2s;
            a{
                color: $dark;
                text-decoration: none;
            }
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}


.color-mode-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    margin-top: 10px;
}


.btn-link {
    font-size: 1.5em;
}

.active {
    border-bottom: 1px solid;
    font-size: 1.2em;
}

.logo-container {
    position: absolute;
    left: 0;
    margin-left: 25px;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 15px;
  left: 88%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 50px;
    padding-top: 125px;
    background: $light;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    height: 96vh;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}

.desktop-nav {
    @media only screen and (max-width: 767px){
        display: none;
    }
}

.mobile-nav {
    display : none;
    @media only screen and (max-width: 767px){
        display: block;
        position: fixed;
        right: 0;
        margin-right: 50px;
        z-index: 9;
    }
}